<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='CSS/estilos.css') }}"/>
    </head>
    <body>
        <div id="main">
            <header>
                <div id="titulo">
                    <h1 id="titulo"><a href="{{ url_for('inicio') }}">LogiPack</a></h1>
                </div>
            </header>
            <br>
            {% block content %}{% endblock %}
        </div>
    </body>

</html>